@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
  --monospace: "Fira Code", "SF Mono", Menlo, Consolas, 'Courier New', Courier, monospace;
  --error-type-color: #410000;
  --error-message-color: #7f0000;
  --error-border-color: #650000;
}

body {
  font-size: 16px;
  font-family: "quire-sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: auto minmax(0, 1fr);
  grid-template-areas:
    "navigation-bar navigation-bar"
    "source-code output-panels";
  padding: 1rem;
  gap: 1rem;
}

#navigation-bar {
  grid-area: navigation-bar;
}

#navigation-bar .brand {
  font-size: 1.25rem;
  font-weight: 600;
}

#input {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  grid-area: source-code;
}

#input .toolbar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background: #f0f0f0;
  border-bottom: 1px solid #000;
}

#output {
  grid-area: output-panels;
}

#editor {
  min-height: 0;
  flex-grow: 1;
}

#editor .cm-editor {
  width: 100%;
  height: 100%;
}

#editor .cm-editor .cm-gutters.cm-gutters-before {
  border-right-color: #000;
}

#editor .cm-editor .cm-content {
  font-family: var(--monospace);
}

#editor .cm-gutter.cm-lineNumbers {
  font-family: var(--monospace);
}

.select {
  height: 2rem;
  padding: 0 0.25rem;
  line-height: 1.5;
  background: #ffffff;
  border: 1px solid #000;
  box-shadow: rgb(187, 187, 187) 2px 2px 0px 0px;
}

.select:focus {
  outline: none;
  box-shadow: rgb(187, 187, 187) 2px 2px 0px 0px, 0 0 0 .1rem rgba(52, 130, 255, 0.84);
}

.button {
  height: 2rem;
  line-height: 1.5;
  border: 1px solid #000;
  background: #f0f0f0;
  box-shadow: rgb(187, 187, 187) 2px 2px 0px 0px;
}

.button.action {
  background: rgb(153, 197, 255);
}

.button:focus {
  box-shadow: rgb(187, 187, 187) 2px 2px 0px 0px, 0 0 0 .1rem rgba(0, 0, 0, .2);
}

collapsible-tree {
  font-family: var(--monospace);
  font-size: 0.875rem;
}

details {
  margin-left: 1em;
  cursor: pointer;
}

summary {
  outline: none;
  list-style: none;
}

details>summary::-webkit-details-marker {
  display: none;
}

details:not([open]):not([leaf])>summary::after {
  font-weight: bold;
  content: " ...";
}

collapsible-tree details {
  position: relative;
}

collapsible-tree details>.rule {
  position: absolute;
  top: 1rem;
  left: 1px;
  bottom: 0;
  border-left: 1px dashed rgba(0, 0, 0, .2);
}

collapsible-tree>details {
  margin-left: 0;
}

/* Hide the radio buttons */
.tabs input[type="radio"] {
  display: none;
}

.tabs .text-stages {
  font-weight: bold;
  margin-right: 0.25rem;
}

/* Basic styling for tab labels (can be made more "style-less" by removing borders, padding) */
.tabs>label {
  display: inline-flex;
  align-items: center;
  height: 1.75rem;
  padding: 0 0.5rem;
  border: 1px solid #000;
  /* Minimalist border */
  cursor: pointer;
  /* To make borders overlap slightly */
  background: #f0f0f0;
  /* Light gray background for non-active tabs */
}

/* Hide all tab content by default */
.tab-content {
  margin-top: 0.5rem;
  display: none;
  border: 1px solid #000;
  padding: 10px;
  height: calc(100% - 2.25rem);
  overflow: auto;
  /* Align with the bottom border of the labels */
}

.tabs input[type="radio"]+label {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  box-shadow: rgb(187, 187, 187) 2px 2px 0px 0px;
}

/* Show the content of the checked tab and style the active tab label */
.tabs input[type="radio"]:checked+label {
  font-weight: 600;
  background: #fff;
}

.tabs input[data-error="true"]+label::before {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  border: 1px solid darkred;
  background: crimson;
  content: "";
}

.tabs input[type="radio"]+label {
  margin-right: 0.25rem;
}


/*
When radio button with id="tab1" is checked, the element with id="content1" that
is a sibling of it (~) will be displayed.
*/
#radio-typer:checked~#tab-typer,
#radio-parser:checked~#tab-parser,
#radio-elaborator:checked~#tab-elaborator,
#radio-resolver:checked~#tab-resolver,
#radio-lowering:checked~#tab-lowering {
  display: block;
}

#radio-code-generation:checked~#tab-code-generation {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) auto minmax(0, 1fr);
  gap: 0.75rem;
  width: 100%;
}

#tab-code-generation section {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#tab-code-generation hr {
  margin: 0;
  border-style: dashed;
  border-width: 0 0 1px 0;
}

#tab-code-generation section>main {
  width: 100%;
  flex-grow: 1;
  min-height: 0;
}

#js-readonly-editor .cm-editor {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}

#js-readonly-editor .cm-editor .cm-content {
  font-family: var(--monospace);
  font-size: 0.875rem;
}

#js-readonly-editor .cm-gutter.cm-lineNumbers {
  font-family: var(--monospace);
  font-size: 0.875rem;
}

/* Execution Tab */

#radio-execution:checked~#tab-execution {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) auto minmax(0, 1fr);
  gap: 0.5rem;
  width: 100%;
}

#tab-execution hr {
  margin: 0;
  border-style: dashed;
  border-width: 0 0 1px 0;
}

#tab-execution section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#tab-execution section header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

#tab-execution section header h3 {
  margin-bottom: 0;
}

#tab-execution section header h3 code {
  font-family: var(--monospace);
}

#tab-execution section main {
  flex-grow: 1;
  min-height: 0;
  width: 100%;
  overflow-y: auto;
  padding: 0.5rem;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23a5a5a5' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

#evaluation-result-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#print-result-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Optional: Basic layout for the labels to appear in a row */
.tabs {
  overflow: hidden;
  position: relative;
}

.tab-content pre {
  margin: 0;
}

.tab-content h3 {
  margin-bottom: 0.5rem;
}

.tabs dialog#error-display {
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 50%;
  background: #ffffff;
  border: 1px solid var(--error-border-color);
  padding: 1rem;
  z-index: 101;
}

.tabs dialog#error-display::backdrop {
  background-color: #dadada50;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23595959' fill-opacity='0.5' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

#error-display .caption {
  font-size: 1.25rem;
}

#error-display .caption .error-type {
  font-weight: 700;
  color: var(--error-type-color);
}

#error-display .caption .error-message {
  font-weight: 500;
  color: var(--error-message-color);
}

#error-display ul.stack-trace {
  padding-left: 1.5rem;
  margin: 0.5rem 0 1rem;
}

#error-display ul.stack-trace li {
  line-height: 1.25;
}

#error-display ul.stack-trace li:not(:last-child) {
  margin-bottom: 0.25rem;
}

#error-display .stack-trace li code.name {
  margin: 0;
  font-size: 0.875rem;
  font-family: var(--monospace);
  word-break: break-all;
  overflow-wrap: break-all;
  white-space: pre-wrap;
  background-color: #f0f0f0;
  padding: 0 0.125rem;
  color: #2c2c2c;
}

#error-display .stack-trace li a.file {
  margin: 0;
  color: #000000;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.125rem;
}

#error-display footer {
  display: flex;
  justify-content: flex-end;
}

pre>code {
  font-family: var(--monospace);
}

pre>code.traces {
  font-size: 0.875rem;
}

pre>code.js {
  font-size: 0.875rem;
}

header.tree-display,
header.traces {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.tree-display>div.hint {
  font-size: 0.75rem;
  opacity: 0.5;
  font-weight: bold;
}

label[for="show-traces"] {
  font-size: 0.875rem;
}

.compile-time-report {
  font-size: 0.875rem;
  margin-left: auto;
  align-self: center;
}